.App {
    text-align: center;
}
h1{
    font-size: 90px;
    margin-top: 20px;
}

button{
    padding: 15px;
    font-size: 30px;
    border-radius: 5px;
    margin: 20px;
    border: 0;
    cursor: pointer;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.card{
    width: 250px;
    border: 1px lightgray solid;
    border-radius: 10px;
    margin: 15px;
    padding-bottom: 10px;
}
.card>img{
    width: 100%;
    border-radius: 10px;

}
a{
    color: lavender;
    font-size: 35px;
}
nav a{
    margin: 15px;
}
nav{
    background-color: #0b2e39;
    padding: 5px;
}
.active{
    color: lightblue;
    text-decoration: none;
}
.courseLink{
    font-size: 25px;
    text-decoration: none;
}
.courseLink:hover{
    text-decoration: underline;
}